* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cabecalho {
    background-color: #EFEFE1;
    box-shadow: 0 5px 10px 5px 
}

.cabecalho_menu {
    width: 100%;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.logotipo {
    width: 150px;
}

.paginas_cabecalho {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paginas_cabecalho a {
    text-decoration: none;
    font-weight: 500;
    color: #203150;
}

.paginas_cabecalho a:hover {
    font-weight: 700;
}

.login{
    width: 80px;
    height: 45px;
    color: white;
    background-color: #203150;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 0;
    
}

.login:hover {
    scale: 1.1;
}


.cadastro {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #203150;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.cadastro:hover {
    font-weight: 700;
}



@media screen and (max-width: 1440px) {
    #cabecalho_menu {
        align-items: center;
        justify-content: center;
    }
    .cabecalho__comece {
        width: 200px;
    }
    .logotipo {
        width: 120px;
    }
}

@media screen and (max-width: 1024px) {
    #cabecalho_menu {
        width: 100vw;
        height: 20vh;
        gap: 50px;
    }
    .cabecalho__comece {
        width: 175px;
        font-size: 12px;
    }
    .logotipo {
        width: 120px;
    }
}